
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html><head><META http-equiv="Content-Type" content="text/html; charset=utf-8"></head>
<body>
<div>
    <div></div>
    <div>
      <p>Profile details</p>
      <img width="100" height="100">
      <p>Email-ID</p>
      <p></p>
      <div>
  <form action="http:///action_page.php" target="_blank" onsubmit="try {return window.confirm(&quot;This form may not function properly due to certain security constraints.\nContinue?&quot;);} catch (e) {return false;}">
    <div>
      <label>College:</label>
      <div>
        <input type="text" name="college">
      </div>
    </div>
    <div>
      <label>Roll no.:</label>
      <div>
        <input type="text" name="rno">
      </div>
    </div>
    <div>
      <label>Branch:</label>
      <div>
        <input type="text" name="branch">
      </div>
    </div>
    <div>
      <label>Year</label>
      <div>
        <input type="text" name="year">
      </div>
    </div>
    <div>
      <label>Mobile number:</label>
      <div>
        <input type="text" name="mno">
      </div>
    </div>
    <div>
      <div>
        <button type="submit">Submit</button>
      </div>
    </div>
      <button>SignOut</button>
  </form>
  </div>
    </div></div>
</body>
</html>